/* icons */
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* Helpers */
.hide {
  display: none;
}

.task .status-done {
  display: none;
}

.task.done .status-done {
  display: block;
}

.task.done .status-undone {
  display: none;
}

.task.done .task-text {
  text-decoration: line-through;
}
